@import "reset.css";

* {
    box-sizing: border-box;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;

}

body {
    background-color: #2c3e50;
}

.clock {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.weather {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
}

.form,
.hideForm {
    display: none;
}

.showing {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 250%;
    margin-top: 50px;
}

.form__nameStyle {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    margin-top: 72px;
    width: 175px;
    font-size: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    animation: movingPara 4s ease infinite;
}

@keyframes movingPara {
    0% {
        border-color: yellow;
    }

    20% {
        border-color: green;
    }

    40% {
        border-color: blue;
    }

    60% {
        border-color: purple;
    }

    80% {
        border-color: red;
    }

    100% {
        border-color: yellow;
    }

}

.form__toDoStyle {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    margin-top: 20px;
    width: 175px;
    font-size: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    animation: movingPara 4s ease infinite;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: whitesmoke;
    text-align: center;
}

.toDoList {
    /* border: 3px dashed black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

li {
    font-family: 'Neucha', 'Open Sans', 'Nanum Gothic', sans-serif;
    display: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px dashed black; */
    font-size: 180%;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px white;
    padding: 10px;
}

span {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 50%;
}

@keyframes fontColor {
    0% {
        border-color: yellow;
        color: yellow;
    }

    20% {
        border-color: green;
        color: green;
    }

    40% {
        border-color: blue;
        color: blue;
    }

    60% {
        border-color: purple;
        color: purple;
    }

    80% {
        border-color: red;
        color: red;
    }

    100% {
        border-color: yellow;
        color: yellow;
    }
}

button {
    width: 20px;
    font-size: 40%;
    border: 1px solid black;
    border-radius: 50px;
    /* margin-top: px; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    animation: fontColor 4s ease infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .3s ease-in-out;
}